/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global */
body {
  font-family: Arial, sans-serif;
  background-image: url('./assets/planodefundo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 170px;  /* Mantém a imagem fixa enquanto o conteúdo rola */
  padding-bottom: 500px;
}
a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Mantém a cor padrão do texto */
}

a:hover {
  text-decoration: none; /* Remove o sublinhado ao passar o mouse */
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom right, #ffffff, #ffffff); /* Degrade de cores pastéis */
  border-radius: 10px; /* Adicione bordas arredondadas para o contêiner */
  
}

.p {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #000000;
}