/* CadastroCandidato.css */

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

/* Estilo para o cabeçalho quando hover */
th:hover {
  background-color: #ddd;
}

/* ------------------------------------ */

.cadastro-candidato {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cadastro-candidato h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cadastro-candidato .form-group {
  margin-bottom: 20px;
}

.cadastro-candidato label {
  display: block;
  font-weight: bold;
}

.cadastro-candidato input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cadastro-candidato button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro-candidato ul {
  list-style-type: none;
  padding: 0;
}

.cadastro-candidato li {
  margin-bottom: 10px;
}

.cadastro-candidato li button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
