/* Estilizações específicas da página Home */
.main-container {
  margin-top: 80px; /* Ajuste conforme necessário */
}

h1 {
  font-size: 2.5rem; /* Reduza o tamanho do título */
  font-weight: bold;
  margin-bottom: 20px; /* Adicione algum espaço abaixo do título */
  color: black; /* Mude a cor do título para branco */
  text-align: center; /* Centralize o título */
}

.news-grid {
  display: grid; /* Usando display grid para melhor controle dos elementos */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsividade e ajuste automático das colunas */
  gap: 20px; /* Espaço entre os cards */
}
.news-card:hover {
  transform: translateY(-5px); /* Efeito de levantamento ao passar o mouse */
  transition: transform 0.3s ease-in-out; /* Transição suave */
}
