.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-form {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    color: #000; /* Cor do texto preto */
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="password"] {
    margin-top: 5px; /* Ajuste para separar o campo de senha dos demais */
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .profile-container {
      padding: 10px;
    }
  }
  