/* NewsCard.css */

.news-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.news-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.news-card img {
  width: 100%; /* Ajuste a largura conforme necessário */
  height: auto; /* Para manter a proporção */
  border-radius: 8px 8px 0 0; /* Borda arredondada apenas no topo */
}
.news-card p {
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}

.news-card span {
  font-size: 12px;
  color: #999999;
}
