/* Estilizações dos cards de notícias */
.news-card {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  max-height: 200px; /* Defina uma altura máxima para os cards expandidos */
  overflow: hidden; /* Esconda o conteúdo que excede a altura máxima */
  position: relative; /* Defina a posição relativa para o card */
}
.news-card.expanded {
  max-height: none; /* Remova a altura máxima quando o card estiver expandido */
}


.news-image {
  width: 100%;
  height: 150px; /* Altura da imagem fictícia */
  background-color: #ccc; /* Cor de fundo da imagem */
  border-radius: 8px;
  margin-bottom: 10px;
}

.news-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.news-content {
  color: #f5f5f5;
}

.news-date {
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 10px;
}
